
/** variable declarations**/
:root{
  --blackblue: #131223;
  --neonblue:#78cccd;
  --neonpink:#fd8dde;
  --skyblue:#6ac2dc;
}
html{

}
body{

background-color: var(--blackblue);
  color: #fff;
  font-family:arial;
   font-weight:bold;
   font-size:20px;
   z-index: 0;
   overflow-x: hidden;
   max-width: 100%;
 }
 h1{
   font-family: 'Pacifico', cursive;
   font-size: 40px;
   display: inline;
 }
 h2{
  font-family: 'Exo 2', sans-serif;
   font-size: 80px;
   font-weight: 100;

 }


 .third-width{
   width:33%;
   float: left;
    margin-top: 20px;
 }
 .half-width{
   width:50%;
   float: left;
    margin-top: 20px;
 }
 .full-width{
   width:100%;
   clear: both;
   margin-top: 20px;


 }
.main-container{
  width:100%;
  margin:0 auto;



 }

 /***
 .main-container *{
   padding:10px;
   background:#aaa;
   border:dashed 5px #000;

   .main-container * + *{
     margin-top:20px;
   }
 }

***/

/*** header section ***/
.half-width#main-nav{
  float:right;

}
.half-width#my-name{
 padding-left: 30px;
}

.full-width#my-logo{
  align-content: center;
}

nav a{
  text-decoration: none;
  color: #FFF;
  font-family: 'Righteous', cursive;
  font-size: 30px;
}
nav ul{
  margin-right: 50px;
  list-style: none;
}
 nav li {
  float:right;
   padding-left: 20px;
 }
 li{
   list-style: none;
 }
.main-header{
padding: 15px 30px;
display: flex;
background-color: var(--blackblue);
position:-webkit-sticky;
position:sticky;
top:0;
z-index: 99;
}


/** hero secion & ocean wave animation **/

div.full-width#hero{
background-image: linear-gradient(#e6f9ff, #53acfb, #131223);
padding-top: 20px;

}
div.full-width#logo-container{

padding-top: 20px;
height:700px;

}
#logo{
position: absolute;
left:50%;
margin-left: -250px;
  width:500px;
  z-index:4;

}
#islands-container{
  position: relative;
  clear:both;
  width:100%;
  height:2px;

}

#islands-right{
  position: absolute;
  bottom:-450;
  right:20;
  width:628px;
  opacity: .5;
}
#islands-left{
  position: absolute;
  bottom:-400;
  left:20;
  width:800px;
  opacity: .8;
}
@media (max-width:1024px) {
  #islands-right{
  visibility: hidden;
  }
  #islands-left{
  width:500px;
  }
}
@media (max-width:768px) {
  #islands-left{
  width:450px;
  }
}
.main-content{

}

div.full-width#wave-container{
  position: relative;
  height:700px;
  max-width: 100%;
  overflow-x: hidden;
}
@keyframes wave{
  0%,100%{
    transform: translate(0,0);
  }
  25%{
    transform: translate(25px,5px);
  }
  50%{
    transform: translate(50px,0px);
  }
  75%{
    transform: translate(25px,-5px);
  }
}

@keyframes wave2 {
  0%,100%{
    transform: translate(0,0);
  }
  25%{
    transform: translate(-25px,-10px);
  }
  50%{
    transform: translate(-50px,0px);
  }
  75%{
    transform: translate(-25px,10px);
  }

}
.wave{

}
@keyframes break {
  0%{
    transform: translate(0,0);
    }
  50%{
    transform: translate(50px,0);
      }
  100%{
    transform: translate(0,0);
  }
}

#ocean-break{
  position:absolute;
  bottom: 10;
  left:-150;
  z-index: 4;
  height: 150PX;
  -webkit-animation: break 8s linear infinite; /* Safari 4+ */
  -moz-animation:break 8s linear infinite; /* Fx 5+ */
  -o-animation:break 8s linear infinite; /* Opera 12+ */
  animation:break 8s linear infinite;  /* IE 10+, Fx 29+ */
}
#ocean-wave{
  position:absolute;
  bottom: 80;
  left:-200;
  height:300px;
  z-index:3;
  -webkit-animation: wave 5s linear infinite; /* Safari 4+ */
  -moz-animation:wave 5s linear infinite; /* Fx 5+ */
  -o-animation:wave 5s linear infinite; /* Opera 12+ */
  animation:wave 5s linear infinite;  /* IE 10+, Fx 29+ */

}
#ocean-wave-2{
  position:absolute;
  bottom: 180;
  left:-400;
  height:300px;
  z-index:2;
  -webkit-animation: wave2 4s linear infinite; /* Safari 4+ */
  -moz-animation:wave2 4s linear infinite; /* Fx 5+ */
  -o-animation:wave2 4s linear infinite; /* Opera 12+ */
  animation:wave2 4s linear infinite;  /* IE 10+, Fx 29+ */

}
#ocean-wave-3{
  position:absolute;
  bottom: 250;
  left:-300;
  height:300px;
  z-index:1;
  -webkit-animation: wave 8s linear infinite; /* Safari 4+ */
  -moz-animation:wave 8s linear infinite; /* Fx 5+ */
  -o-animation:wave 8s linear infinite; /* Opera 12+ */
  animation:wave 8s linear infinite;  /* IE 10+, Fx 29+ */
}


/*** below the hero section ***/


/**the resume container **/

div#resume {
  background-color: var(--blackblue);
 transition: color, background-color .5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 0;

}
#toggle-resume{
  opacity: 0;
  margin-left: -80px;
  margin-bottom: -200px;
}
div#resume-label:hover  {
  color:var(--neonpink);
  background-color: #131223;
  transition: all 1s ease-in-out;
}
#toggle-resume:checked ~ div#resume *{
 visibility: visible;
 max-height: 2000px;
 transition: visibility, max-height, height 1s ease-in-out;
}
#toggle-resume:checked ~ div#resume-content {
max-height: 2000px;

}
#toggle-resume:checked ~ div#resume{
  max-height: 3000px;
}
div#resume-content{
 padding:20px 30px;
 max-height: 0px;
 text-align: center;
 overflow: hidden;
 opacity: 1;

}
 /*** portfolio ***/
 div#portfolio {
   background-color: var(--blackblue);
  transition: color, background-color .5s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   overflow: hidden;
   margin-top: 0;

 }
 #toggle-portfolio{
   opacity: 0;
   margin-left: -80px;
   margin-bottom: -200px;
 }
 div#portfolio-label:hover  {
   color:var(--neonpink);
   background-color: #131223;
   transition: color,background-color .5s ease-in;
 }
 #toggle-portfolio:checked ~ div#portfolio *{
  visibility: visible;
  max-height: 2000px;
  transition: visibility, max-height, height 1s ease-in-out;
 }
 #toggle-portfolio:checked ~ div#portfolio-content {
 max-height: 2000px;
 transition: all 1s ease-in-out;
 color:var(--neonpink);
 visibility: visible;
 }
 #toggle-portfolio:checked ~ div#portfolio{
   max-height: 3000px;
 }
 div#portfolio-content{
  padding:20px 30px;
  max-height: 0px;
  text-align: center;
  overflow: hidden;
 }

/*** footer ***/
.main-footer{
  text-align: center;
}

/**** the bubbles ***/




/*
.full-width#hero-resume{
  background-color: #fff;
  box-shadow: 10px 10px 5px #000000;
  height:331px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.half-width#my-face{
  padding: 0 20px 0 20px;
  display: inline;
}
#face{
  width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hero-resume-link {
  text-decoration: none;
  color: #000000;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  display: block;
  text-align: center;
  width: 100%;
}
*/
