
/** variable declarations**/
:root{
  --blackblue: #131223;
  --neonblue:#78cccd;
  --neonpink:#fd8dde;
  --skyblue:#6ac2dc;
}

body{

background-color: var(--skyblue);
  color: #fff;
  font-family:arial;
   font-weight:bold;
   font-size:20px;
   z-index: 0;
 }
 h1{
   font-family: 'Pacifico', cursive;
   font-size: 40px;
   display: inline;
 }
 h2{
   font-family: Monoton;
   font-size: 80px;
   font-weight: 100;
   clear:both;
 }


 .third-width{
   width:33%;
   float: left;
    margin-top: 20px;
 }
 .half-width{
   width:50%;
   float: left;
    margin-top: 20px;
 }
 .full-width{
   width:100%;
   clear: both;
   margin-top: 20px;

 }
.main-container{
  width:100%;
  margin:0 auto;

 }

 /***
 .main-container *{
   padding:10px;
   background:#aaa;
   border:dashed 5px #000;

   .main-container * + *{
     margin-top:20px;
   }
 }

***/

/*** header section ***/
.half-width#main-nav{
  float:right;

}
.half-width#my-name{
 padding-left: 30px;
}

.full-width#my-logo{
  align-content: center;
  ;

}

/** hero secion & ocean wave animation **/
div.full-width#wave-container{
  position: relative;
  height:400px;

}
div.full-width#hero{

}
@keyframes wave{
  0%,100%{
    transform: translate(0,0);
  }
  25%{
    transform: translate(25px,5px);
  }
  50%{
    transform: translate(50px,0px);
  }
  75%{
    transform: translate(25px,-5px);
  }
}

@keyframes wave2 {
  0%,100%{
    transform: translate(0,0);
  }
  25%{
    transform: translate(-25px,-5px);
  }
  50%{
    transform: translate(-50px,0px);
  }
  75%{
    transform: translate(-25px,5px);
  }

}
.wave{

}
@keyframes break {
  0%{
    transform: translate(0,0);
    }
  50%{
    transform: translate(50px,0);
      }
  100%{
    transform: translate(0,0);
  }
}

#ocean-break{
  position:absolute;
  bottom: -100;
  left:-100;
  z-index: 4;
  height: 280PX;
  -webkit-animation: break 5s linear infinite; /* Safari 4+ */
  -moz-animation:break 5s linear infinite; /* Fx 5+ */
  -o-animation:break 5s linear infinite; /* Opera 12+ */
  animation:break 5s linear infinite;  /* IE 10+, Fx 29+ */
}
#ocean-wave{
  position:absolute;
  bottom: 0;
  left:-200;
  height:300px;
  z-index:3;
  -webkit-animation: wave 5s linear infinite; /* Safari 4+ */
  -moz-animation:wave 5s linear infinite; /* Fx 5+ */
  -o-animation:wave 5s linear infinite; /* Opera 12+ */
  animation:wave 5s linear infinite;  /* IE 10+, Fx 29+ */

}
#ocean-wave-2{
  position:absolute;
  bottom: 60;
  left:-100;
  height:300px;
  z-index:2;
  -webkit-animation: wave2 4s linear infinite; /* Safari 4+ */
  -moz-animation:wave2 4s linear infinite; /* Fx 5+ */
  -o-animation:wave2 4s linear infinite; /* Opera 12+ */
  animation:wave2 4s linear infinite;  /* IE 10+, Fx 29+ */

}
#ocean-wave-3{
  position:absolute;
  bottom: 120;
  left:-150;
  height:300px;
  z-index:1;
  -webkit-animation: wave 8s linear infinite; /* Safari 4+ */
  -moz-animation:wave 8s linear infinite; /* Fx 5+ */
  -o-animation:wave 8s linear infinite; /* Opera 12+ */
  animation:wave 8s linear infinite;  /* IE 10+, Fx 29+ */
}

nav a{
  text-decoration: none;
  color: #FFF;
  font-family: 'Righteous', cursive;
  font-size: 30px;
}
ul{
  margin-right: 50px;
  list-style: none;
}
li {
  float:right;
   padding-left: 20px;


 }
.main-header{
height:100px;
display: flex;
background-color: var(--blackblue);
position:-webkit-sticky;
position:sticky;
top:0;
}

/*** main section ***/
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;

}
.main-content{
  margin-top: 20px;
}
/**the resume container **/

div#resume-container {
  background-color: var(--blackblue);
 transition: color, background-color .5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

}
#toggle-resume{
  opacity: 100;
  margin-left: -80px;
  margin-bottom: -200px;
}
div#resume-container:hover  {
  color:var(--neonpink);
  background-color: #131223;
  transition: color,background-color .5s ease-in;
}
#toggle-resume:checked ~ div#resume-container *{
 visibility: visible;
 max-height: 800px;
 transition: visibility, max-height, height 1s ease-in-out;
}
#toggle-resume:checked ~ div#resume-container {
background-color: #fff;
transition: height 1s linear;
max-height: 800px;
transition: height 1s;
color:var(--neonpink);
background-color: #131223;
}
div#resume-content{
 transition: all .5s ease-in-out;
visibility: hidden;
 background-color: #202020;
 width:100%;
 padding:20px 30px;
 max-height: 0px;
 display: flex;
 flex-wrap:wrap;
}

/*** resume hero ***/
/*
.full-width#hero-resume{
  background-color: #fff;
  box-shadow: 10px 10px 5px #000000;
  height:331px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.half-width#my-face{
  padding: 0 20px 0 20px;
  display: inline;
}
#face{
  width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hero-resume-link {
  text-decoration: none;
  color: #000000;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  display: block;
  text-align: center;
  width: 100%;
}
*/
